.friend {
    border-radius: 10px;
    width: 40%;
    height: 150px;
    text-align: center;
    background-color: #3b82f6;
    font-size: 20px;
    color: white;
    padding: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}